body
{
    margin:0 0 0 0;
}

#wrapper
{
    background-color:beige;
    margin-left:10%;
    margin-right:10%;
    position:relative;
    padding:0px 15px 15px 15px;
    min-height:800px;
}

header
{
    text-align:center;
    font-size:20px;
    height:70px
}

header > *
{
    text-decoration:none;
    background-color:white;
    border-style: solid;
    border-width: 1px;
    border-radius:5%;
    height:align-parent;
    width:15%;
    display:inline-block;
    vertical-align:top;
    height:70px;
    color:black;
}

input,select
{
    min-width:200px;
    padding:5px;
    margin:5px;
    border-radius:5%;
}


button
{
    padding:5px;
    margin:5px;
    border-radius:10%;
    background-color:white;
    font-size:15px; 
}

button a
{
    text-decoration:none;
    color:black;
}

.btn-container button,form
{
    display:inline-block;
}

#btn-add-movie
{
    padding:15px;
    font-weight:bold;
}

#movies
{
    background-color:black;
    text-align:center;
}

.movie
{
    background-color: beige;
    display:inline-block;
    margin:5px;
    width:300px;
}

.movie p
{
    font-weight:bold;
    font-size:20px;
    height:40px;
    margin:0px;
}

#movie-container , #new-movie
{
    margin-left:10%;
}

#movie-container > *
{
 display:inline-block;
}
#movie-info
{
    vertical-align:top;
    padding:20px;
}

#err-msg
{
    color:white;
}